@import "http://fonts.googleapis.com/css?family=Droid+Sans";
@import "http://fonts.googleapis.com/css?family=Roboto+Slab";

body{
	margin:0;
	padding:0;
	font-family:'Droid Sans',sans-serif;
	background: url("http://cdn.getforge.com/madebycourse.com/1410384720/assets/img/course-hero-small.jpg") no-repeat center;
  	background-size: cover;
}

nav{margin-left: .25%;}

nav a {
	padding: .5%;
	background-color: #000;
	text-decoration: none;
	color: #c96;
	font-size: 1.5em;
	text-align: center;
	line-height: 50px;
}

nav a:hover {
	background: #fff;
}


#col1, #col2, #col3 {
	float: left;
	width: 31%;
	margin: 1%;
	padding: 1%;
}

#col1{
	background-color: #eee;
	height: 500px;
}

#col2{
	/*background-color: #c96;*/
	height: 400px;
}

.notVis {
	display: none;
}


.orange{
	background-color: orange;
}

.green {
	background-color: green;
}

#col3{
	background-color: #c69;
	height: 300px;
}

.hide {
	display: none;
}

.show {
	visibility: visible;
}

.img {
	width: 50px;

}


/* Form specific styles!!! */

* {
/* With these codes padding and border does not increase it's width. Gives intuitive style. */
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

div#envelope{
	width:50%;
	margin:10px 30% 10px 25%;
	background-color:#f2f4fb;
	padding:10px 0;
	border:1px solid gray;
	border-radius:10px;
}

form{
	width:70%;
	margin:0 15%;
}

form header{
	text-align:center;
	font-family:'Roboto Slab',serif;
}
/* Makes responsive fields. Sets size and field alignment. */
input[type=text]{
	margin-bottom:20px;
	margin-top:10px;
	width:100%;
	padding:15px;
	border-radius:5px;
	border:1px solid #c96;
}

input[type=submit]{
	margin-bottom:20px;
	width:100%;
	padding:15px;
	border-radius:5px;
	border:1px solid #c96;
	background-color:#c96;
}

textarea{
	width:100%;
	padding:15px;
	margin-top:10px;
	border:1px solid #c96;
	border-radius:5px;
	margin-bottom:20px;
	resize:none;
}

input[type=text]:focus,textarea:focus{border-color:#c96;}

/* By using @ media form can have different layout for screen, mobile phone, tablet. */
/* Sets the form layout for mobile phone, tablet. */

@media only screen and (max-width : 767px) and (orientation: portrait) {
	nav a {
		display: block;
		margin: 1% 0;
	}

	form > div > label,
	legend {
  	text-align: right;
  }

  #col1, #col2, #col3 {
  	width: 100%;
  }

}