@import "http://fonts.googleapis.com/css?family=Droid+Sans";
@import "http://fonts.googleapis.com/css?family=Roboto+Slab";
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans',sans-serif;
  /*overflow:hidden;*/
}

header {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: #4a4a4a;
  height: 50px;
  width: 100vw;
  text-align: center;
  display: inline-block;
}

header #logo {
  height: 40px;
  position: absolute;
  display: inline-block;
  left: 20px;
  top: 10px;
}

a {
  color: white;
  text-decoration: none;
  line-height: 7.5vh;
  padding: 0 2vh;
  font-family: 'Droid Sans',sans-serif;
}

section {
  position: relative;
  /*  top: 15vh;*/
  left: 0;
  /*end of grid*/
}
section #grid {
  width: 100vw;
  margin-top: 50px;
  height: 100vh;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  visibility: visible;
}
section #grid #one {
  background-color: #9568d8;
  opacity: 0.9;
  overflow: hidden;
  /*background-image: url(images/grid_one_bgimage.jpg);
  background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*position: relative;*/
  /*#item1 {
    visibility: hidden;
    }*/
}
section #grid #one.active {
  overflow: visible;
}
section #grid #one #onePic {
  z-index: -1000;
  position: relative;
  opacity: 0;
  webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
section #grid #one #onePic.active {
  opacity: 0.5;
}
section #grid #two {
  background-color: #881fbf;
  position: relative;
  opacity: 0.9;
  overflow: hidden;
}
section #grid #two #twoPic {
  position: relative;
  opacity: 0;
  z-index: -1000;
  overflow: hidden;
  top: -1000px;
  webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
section #grid #two #twoPic.active {
  opacity: 0.5;
}
section #grid #three {
  background-color: #7e26a3;
  position: relative;
  /*top:50px;*/
}
section #grid #four {
  background-color: purple;
  /*position: relative;*/
  /*right:0;*/
}

/*end of section*/
.block {
  float: left;
  visibility: visible;
  /*outline: 1px black solid;*/
  height: 100vh;
  width: calc(100vw/4);
  /*	margin: 2px;*/
  /*&:last-child {
    float: right;
    }*/
}

/*end of block CSS*/
.imageSwap {
  position: relative;
}
.imageSwap .photos {
  position: absolute;
}
.imageSwap .top {
  opacity: 0;
}
.imageSwap .top:hover {
  opacity: 1;
}

.imageContainer {
  /*border: 1px solid white;*/
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 0;
}
.imageContainer .photos {
  position: relative;
  padding: 2px;
  width: 15vw;
  height: 15vw;
  left: 5%;
  top: 50px;
  float: left;
  margin: 0 auto;
  transition: max-height 2s;
  transition-delay: 1s;
  max-height: 0;
  webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.imageContainer .MUphotos {
  position: relative;
  padding: 4px;
  width: 30vw;
  height: auto;
  left: 5%;
  top: 50px;
  float: left;
  margin: 0 auto;
}

/*end of image container*/
#ecommerceContainer {
  /*border: 1px solid white;*/
  transition: max-height 2s;
  z-index: 9999;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 0;
  display: block;
}
#ecommerceContainer .jobImage {
  position: relative;
  float: left;
}
#ecommerceContainer .jobAbout {
  position: relative;
  margin-left: 20px;
}
#ecommerceContainer .ecomphotos {
  position: relative;
  z-index: 9999;
  padding: 10px;
  width: 35vw;
  /*height: 15vw;*/
  left: 5%;
  top: 50px;
  /*float: left;*/
  margin: 0 auto;
  /*max-height: 0;*/
}

/*end of ecommerceContainer*/
@media all and (max-width: 1199px) and (min-width: 400px) {
  body {
    overflow: hidden;
  }

  #grid.active {
    overflow: visible;
  }

  section .block {
    width: 100vw;
    height: 100vh;
    min-height: 25vh;
    max-height: 25vh;
    overflow: hidden;
    transition: max-height 1s;
  }
  section .block .imageContainer .photos {
    max-height: 0vh;
    width: 50vh;
    height: 50vh;
    background-size: cover;
    transition-delay: 0s;
    float: none;
  }
  section .block .imageContainer .MUphotos {
    max-height: 0;
    /*position: relative;
    padding: 4px;
    width: 30vw;
    height: 590px;
    left: 5%;
    top:50px;
    float: left;
    margin: 0 auto;*/
  }
  section .block #ecommerceContainer .ecomphotos img {
    max-height: 0;
    min-height: 0;
  }
  section .block #ecommerceContainer .job {
    min-height: 0;
    max-height: 0;
  }
  section .block #ecommerceContainer .jobAbout {
    opacity: 0;
    /*            max-height:0;
                  min-height:0; 
    */
  }
  section .block #item1 {
    background-color: white;
    opacity: 0;
    padding: 8px;
    position: absolute;
    bottom: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
    /*transition-delay: 2s;*/
  }
  section .block #onePic {
    opacity: 0.5;
    /*min-height:0;
    max-height:0;*/
  }
  section .block.active {
    max-height: 10000vh;
    overflow: auto;
    /*overflow: visible;*/
  }
  section .block.active .imageContainer {
    max-height: 100vh;
    overflow: auto;
  }
  section .block.active .imageContainer .photos {
    max-height: 100vh;
    width: 50vh;
    height: 50vh;
    background-size: cover;
  }
  section .block.active .imageContainer .imageSwap {
    position: relative;
    bottom: 20%;
    padding: 2px;
    width: 50vw;
    height: 50vh;
    left: 5%;
    float: left;
    margin: 0 auto;
  }
  section .block.active .imageContainer .imageSwap .photos {
    position: absolute;
    top: 50px;
    left: 0;
  }
  section .block.active .imageContainer .imageSwap .top {
    opacity: 0;
  }
  section .block.active .imageContainer .imageSwap .top:hover {
    opacity: 1;
  }
  section .block.active .imageContainer .MUphotos {
    max-height: 100vh;
    position: relative;
    padding: 4px;
    width: 100vw;
    height: auto;
    top: 50px;
    float: none;
    margin: 0 auto;
  }
  section .block.active #one {
    opacity: 0;
  }
  section .block.active #item1 {
    position: absolute;
    opacity: 1;
    min-height: 0;
    max-height: 500px;
  }
  section .block.active #onePic {
    opacity: 0.5;
    /*min-height:0;
    max-height:100vh;*/
  }
  section .block.active #ecommerceContainer .job {
    min-height: 0;
    max-height: none;
  }
  section .block.active #ecommerceContainer .ecomphotos {
    position: relative;
    z-index: 9999;
    padding: 0;
    width: 80vw;
    height: auto;
    /*height: 15vw;*/
    top: 50px;
    /*float: left;*/
    margin: 0 auto;
    left: 0;
    /*max-height: 0;*/
  }
  section .block.active #ecommerceContainer .ecomphotos img {
    max-height: 4000px;
    min-height: 0;
    width: 100%;
  }
  section .block.active #ecommerceContainer .ecomphotos .jobAbout {
    /*max-height: 25vh;
    min-height: 25vh; */
    opacity: 1;
    margin-left: 20px;
  }
  section .block.inactive {
    max-height: 0;
    min-height: 0;
  }
}
   /* @media all and (min-width: 767px) {

      section .block {
        width: calc(100vw/2);*/
/*height: calc(90vw/2);*/
/* margin: 2px;*/
 /* }
}*/
@media all and (min-width: 1200px) {
  #grid.active {
    overflow: visible;
  }

  section .block {
    width: 100vw;
    height: auto;
    min-height: 100%;
    /* height: calc(90vw/4);*/
    /*margin: 2px;*/
    max-width: calc(100vw/4);
    max-height: calc(100vh-50px);
    transition: max-width 1s;
    /*end of active*/
  }
  section .block#four {
    background-color: purple;
    float: right;
    position: absolute;
    right: 0;
  }
  section .block #item1 {
    transition: max-height 1s;
    transition-delay: 2s;
    /*border: 1px solid black;*/
    background-color: white;
    opacity: 0.9;
    padding: 8px;
    position: absolute;
    bottom: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    height: 50%;
    max-height: 0;
    overflow: hidden;
  }
  section .block .imageContainer {
    transition: max-height 2s;
    /*  transition-delay: 2s;*/
    /*border: 1px solid white;*/
    position: absolute;
    /*top: 20%;*/
    width: 100%;
    height: 100%;
    z-index: 12;
    overflow: hidden;
  }
  section .block .imageContainer .photos {
    transition: max-height 3s;
    transition-delay: 2s;
    position: relative;
    /*background-color: black;*/
    bottom: 20%;
    padding: 2px;
    width: 15vw;
    height: 15vw;
    left: 5%;
    float: left;
    margin: 0 auto;
    webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  section .block #ecommerceContainer {
    transition: opacity 1s 2s;
    /*  transition-delay: 2s;*/
    /*border: 1px solid white;*/
    position: absolute;
    /*top: 20%;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
  }
  section .block #ecommerceContainer .ecomphotos {
    transition: max-height 3s;
    transition-delay: 2s;
    /*position: relative;*/
    bottom: 20%;
    padding: 8px;
    width: 100vw;
    /*height: 30vw;*/
    left: 5%;
    float: left;
    margin: 0 auto;
    display: block;
    clear: both;
  }
  section .block #ecommerceContainer .ecomphotos img {
    position: relative;
    display: inline-block;
    float: left;
    width: 35vw;
    /*height: 35vh;*/
  }
  section .block #ecommerceContainer .jobAbout {
    position: relative;
    display: inline-block;
  }
  section .block:hover {
    max-width: calc(100vw/3.5);
    z-index: 100;
  }
  section .block.inactive {
    max-width: 0%;
    max-height: 100vh;
  }
  section .block.active {
    max-width: 100%;
    max-height: 1200vh;
    /*end of item1*/
    /*end of imageContainer*/
    /*end of imageContainer*/
  }
  section .block.active #onePic {
    opacity: 0.5;
  }
  section .block.active #item1 {
    max-height: 50%;
  }
  section .block.active .imageContainer {
    /*max-height: 100%;*/
    max-height: 500vh;
    position: relative;
    bottom: 0;
    overflow: visible;
    /*end of photos*/
  }
  section .block.active .imageContainer .photos {
    /*max-height: 100%;*/
    max-height: 500vh;
    position: relative;
    bottom: 0;
  }
  section .block.active .imageContainer .imageSwap {
    position: relative;
    bottom: 20%;
    padding: 2px;
    width: 15vw;
    height: 15vw;
    left: 5%;
    float: left;
    margin: 0 auto;
  }
  section .block.active .imageContainer .imageSwap .photos {
    position: absolute;
    top: 50px;
    left: 0;
  }
  section .block.active .imageContainer .imageSwap .top {
    opacity: 0;
  }
  section .block.active .imageContainer .imageSwap .top:hover {
    opacity: 1;
  }
  section .block.active #ecommerceContainer {
    /*max-height: 100%;*/
    max-height: 500vh;
    position: relative;
    bottom: 0;
    overflow: visible;
    opacity: 1;
    /*end of photos*/
  }
  section .block.active #ecommerceContainer .ecomphotos {
    /*max-height: 100%;*/
    /*max-height: 500vh;*/
    position: relative;
    bottom: 0;
    clear: both;
  }

  /*end of inactive*/
}
