body {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
}
body #container {
  margin-top: 100px;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #4a4a4a;
  height: 10vh;
  width: 100vw;
  text-align: center;
  display: inline-block;
}
header #logo {
  height: 50px;
  position: absolute;
  display: inline-block;
  left: 20px;
  top: 10px;
}

a {
  color: white;
  text-decoration: none;
  line-height: 3.5vh;
  padding: 0 2vh;
}
